@model Zeiterfassung_Domain.Employee

@{ ViewBag.Title = "Home Page"; }

<div class="row">
    <div class="col-lg-12">
        <h1 class="display-3">Anmeldung</h1>

        @using (Html.BeginForm("Login", "Login"))
        {
            <div class="form-floating">
                @Html.TextBoxFor(m => m.GivenEmail, new { @class = "form-control", @placeholder = "Mail-Adresse", @type = "email" })
                @Html.LabelFor(m => m.GivenEmail)
            </div>
            <div class="form-floating">
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Passwort", @type = "password" })
                @Html.LabelFor(m => m.Password)
            </div>

            <input type="submit" name="Login" value="Enter" class="btn btn-primary btn-lg btn-block w-100" />

            @Html.ValidationMessageFor(m => m.GivenEmail)
            @Html.ValidationMessageFor(m => m.Password)
           

        }
        <p>Du besitzt noch keinen Account? Registriere dich @Html.ActionLink("hier", "Register", "Login")!</p>

    </div>
</div>
